@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: tokyonight-base00; */
  /* background: #1a1b26; */
}

:root {
  --base00: #1a1b26;
  --base01: #24283b;
  --base02: 65, 72, 104; /* #414868 */
  --base03: 86, 95, 137; /* #565f89 */
  --base04: 207, 201, 194; /* #cfc9c2 */
  --base05: 154, 165, 206; /* #9aa5ce */
  --base06: 169, 177, 214; /* #a9b1d6 */
  --base07: 192, 202, 245; /* #c0caf5 */
  --base08: 247, 118, 142; /* #f7768e */
  --base09: 255, 158, 100; /* #ff9e64 */
  --base0A: 224, 175, 104; /* #e0af68 */
  --base0B: 158, 206, 106; /* #9ece6a */
  --base0C: 115, 218, 202; /* #73daca */
  --base0D: 42, 195, 222; /* #2ac3de */
  --base0E: 125, 207, 255; /* #7dcfff */
  --base0F: 122, 162, 247; /* #7aa2f7 */
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.d1 {
  animation-delay: 1s;
}

.d2 {
  animation-delay: 1.5s;
}

.d3 {
  animation-delay: 2s;
}

.d4 {
  animation-delay: 2.5s;
}

.d5 {
  animation-delay: 3s;
}

.d6 {
  animation-delay: 3.5s;
}

.d7 {
  animation-delay: 4s;
}

.d8 {
  animation-delay: 4.5s;
}
dot {
  /* transition: glow; */
  /* mix-blend-mode: var(--blending); */
  text-shadow: 0 0 10px;
  filter: blur(1px);
  animation: glow 3s ease-in-out alternate infinite;
  transform: scaleX(5) scaleY(0.05);
}

@keyframes glow {
  0% {
    transform: scaleX(5) scaleY(0.05);
    text-shadow: 0 0 10px;
    filter: blur(1px);
  }

  100% {
    text-shadow: 0 0 10px;
    transform: scaleX(5) scaleY(0.5) translateY(5px);
    filter: blur(20px);
  }
}

h1 {
  color: #fff;
  text-shadow: 0 0 7px rgb(var(--base0C));
  mix-blend-mode: add;
}

.rick {
  filter: drop-shadow(15px 15px 15px #000);
}

.gradients-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  /* background: linear-gradient(40deg, var(--base00), var(--base01)); */
  filter: blur(30px);
}

svg {
  display: none;
}

.g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--base0C), 0.8) 0,
      rgba(var(--base0A), 0) 40%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--base09), 0.8) 0,
      rgba(var(--base0F), 0) 50%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--base08), 0.8) 0,
      rgba(var(--base0C), 0) 40%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2) + 500px;

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--base0E), 0.8) 0,
      rgba(var(--base0D), 0) 30%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 400px);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 1;
}

.g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--base0B), 0.8) 0,
      rgba(var(--base03), 0) 30%
    )
    no-repeat;

  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);

  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}
